# Exercises

Answer all questions below or complete the given instructions

##### Import Pandas as pd

##### Read in csv named 'test' into a new dataframe named 'df'

The dataset you are reading in is a table of passenger details from the titanic

##### Using indexing, select out all passengers that are male

##### Drop the columns 'SibSp' and 'parch'

##### List all unique values in the 'Embarked' column

##### Return a count of all unique values listed in column 'Embarked'

##### Sort the dataframe by the 'Fare' column

##### Using the mean fill in all missing NULLs in the age column and fare column

##### Drop all remaining columns containing NULLs

##### Plot the 'Age' column in a histogram

##### According to the histogram just created, what is the average age of the passengers

##### Create a scatter plotting the age of passengers vs the fare of the ticket