# Python Basic Data Types

## Numbers

There are two basic number types in Python:
    1. Integer
    2. Floating point number

#### 1. Integer

In [2]:
1

1

#### 2. Floating Point Number

In [3]:
1.0

1.0

### Arithmetic

#### Addition

In [4]:
1 + 1

2

#### Subtraction

In [5]:
4 - 2

2

#### Multiplication

In [6]:
1 * 3

3

#### Division

In [7]:
4 / 2

2.0

#### Exponents

In [9]:
2 ** 4

16

#### Modules

The modules function will return what remains after a division

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
8 % 2

0

## Strings

There are two ways to create a string:
    1. Using single quotes
    2. Using double quotes

In [25]:
'single quote'

'single quote'

In [68]:
"double quote"

'double quote'

In [69]:
"56"

'56'

# Python Data Structures

## Lists

In [44]:
[1, 2, 3]

[1, 2, 3]

In [45]:
['a', 'b', 'c']

['a', 'b', 'c']

In [35]:
my_list = ['a', 'b', 'c', 'd']

In [36]:
my_list.append('e')

In [37]:
my_list

['a', 'b', 'c', 'd', 'e']

#### Indexing lists

In [25]:
my_list[0]

'a'

In [28]:
my_list[2]

'c'

In [29]:
my_list = ['a', 'b', 'c', 'd']

In [30]:
my_list[1:3]

['b', 'c']

In [32]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:2]

['a', 'b']

In [41]:
my_list[0] = 'New'

In [42]:
my_list

['New', 'b', 'c', 'd']

In [43]:
nest_list = [1, 2, [3, 4]]

In [44]:
nest_list

[1, 2, [3, 4]]

In [45]:
nest_list[2]

[3, 4]

In [46]:
nest_list[2][1]

4

In [59]:
list_with_string = [1,2,3,[4,5,['target']]]

In [62]:
list_with_string[3][2][0]

'target'

## Dictionaries

In [1]:
d = {'key1':'value', 'key2':123}

In [3]:
d['key1']

'value'

In [5]:
d['key2']

123

In [50]:
d[0]

KeyError: 0

In [6]:
d = {'k1':[1,2,3]}

In [7]:
d['k1'][0]

1

## Booleans

In [8]:
True

True

In [9]:
False

False

## Tuple

In [51]:
t = (1,2,3)

In [53]:
t

(1, 2, 3)

In [11]:
t[0]

1

In [15]:
t[0:2]

(1, 2)

In [16]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

## Sets

In [17]:
{1,2,3}

{1, 2, 3}

In [18]:
{1,1,1,1,1,2,2,2,2,3,3,3,3,3}

{1, 2, 3}

In [54]:
my_list = [1,1,1,1,2,2,2,2,3,3,3,3,3]

In [55]:
set(my_list)

{1, 2, 3}

In [56]:
s = {1,1,1,2,2,4,4,}

In [57]:
s

{1, 2, 4}

In [58]:
s.add(5)

In [59]:
s

{1, 2, 4, 5}

# Basic string handling and manipulation

## Indexing

In [68]:
s = 'hello'

In [69]:
s[0]

'h'

In [70]:
s[4]

'o'

## Slicing

In [71]:
alphabet = 'abcdefghijk'

In [72]:
alphabet[0]

'a'

In [73]:
alphabet[3:6]

'def'

In [74]:
alphabet[:3]

'abc'

In [75]:
alphabet[2:]

'cdefghijk'

## Printing strings

In [76]:
x = "Hello World"

In [77]:
x

'Hello World'

In [78]:
print(x)

Hello World

In [79]:
num = 54
name = 'John'

In [80]:
print('My number is {} and my name is {}'.format(num,name))

My number is 54 and my name is John