# Exercises

Answer all questions below or complete the given instructions

## Lists

##### In the blank cell below create a list called new_list with a list of numbers from 1 through to 10

In [1]:
new_list = [1,2,3,4,5,6,7,8,9,10]

##### Using indexing select the name Oliver out of the list

In [3]:
lst = ["Ben", "Olivia", "Oliver", "Leo", "Jacob", "Mia"]

In [4]:
lst[2]

'Oliver'

##### Using the list above named 'lst' slice out the names Olivia, Oliver and Leo

In [5]:
lst[1:4]

['Olivia', 'Oliver', 'Leo']

##### Using the list above named 'lst' add the name 'Emily' to the list

In [8]:
lst.append('Emily')
lst

['Ben', 'Olivia', 'Oliver', 'Leo', 'Jacob', 'Mia', 'Emily']

##### Given the nested list again use indexing and select the name Oliver out of the list

In [13]:
nested_lst = [1,2,3,4,[100, 200, 300, ["Ben", "Olivia", "Oliver"]]]

In [16]:
nested_lst[4][3][2]

'Oliver'

## Dictionaries

##### Given the dictionary below, grab the number 300 out

In [18]:
d = {'Key1':100, 'Key2':200, 'Key3':300, 'Key4':400}

In [19]:
d['Key3']

300

##### Given the nested dictionary below, grab out the number 8

In [20]:
nested_d = {'KeyA':[1,2,3,{'KeyB':[4,5,6,{'KeyC':[7,8,9]}]}]}

In [26]:
nested_d['KeyA'][3]['KeyB'][3]['KeyC'][1]

8

## Tuples

##### What is the major difference between tuples and lists?

In [27]:
# A tuple is immutable

##### Create a tuple nambed 'alphabet' containing the first 5 letters of the alphabet

In [28]:
alphabet = (1,2,3,4,5)

In [ ]:
s