# Exercises

Answer all questions below or complete the given instructions

## Lists

##### In the blank cell below create a list called new_list with a list of numbers from 1 through to 10

##### Using indexing select the name Oliver out of the list

In [1]:
lst = ["Ben", "Olivia", "Oliver", "Leo", "Jacob", "Mia"]

##### Using the list above named 'lst' slice out the names Olivia, Oliver and Leo

##### Using the list above named 'lst' add the name 'Emily' to the list

##### Given the nested list again use indexing and select the name Oliver out of the list

In [5]:
nested_lst = [1,2,3,4,[100, 200, 300, ["Ben", "Olivia", "Oliver"]]]

## Dictionaries

##### Given the dictionary below, grab the number 300 out

In [1]:
d = {'Key1':100, 'Key2':200, 'Key3':300, 'Key4':400}

##### Given the nested dictionary below, grab out the number 8

In [4]:
nested_d = {'KeyA':[1,2,3,{'KeyB':[4,5,6,{'KeyC':[7,8,9]}]}]}

## Tuples

##### What is the major difference between tuples and lists?

##### Create a tuple nambed 'alphabet' containing the first 5 letters of the alphabet