# Exercises

Answer all questions below or complete the given instructions

##### Given the string below, slice out the word 'Steven'

In [2]:
s = 'Good morning Steven'

##### Given string above named 's' convert all letters to uppercase

##### Given the string below, split the string out on the blank spaces

In [3]:
tweet = "Go Springboks! #Worldcup2019"

##### Using the 'tweet' string above, split the string on the # and select out the word 'Worldcup2019'

##### Given the text file 'Top10TechCompanies.txt' open the file in r+ and read all lines

Below the cell is an example of what your output should look like if you complete the task successfully

['Company,MarketValue\n',
 'Apple,963.33\n',
 'Samsung,221.6\n',
 'Microsoft,995.324\n',
 'Alphabet,885.97\n',
 'Intel,234.73\n',
 'IBM,124.08\n',
 'Facebook,546.606\n',
 'Hon Hai Precision,6023.96\n',
 'Tencent,462.116\n',
 'Oracle,189.37\n']

##### Given the string below named 'amazon', write this string to the 'Top10TechCompanies' text file

In [35]:
amazon = 'Amazon,134.5'

##### Close the text file

##### Open the text file 'Top10TechCompanies' again in read only mode and read all line

If you completed the writing successfully your output should look similiar to the one below

['Company,MarketValue\n',
 'Apple,963.33\n',
 'Samsung,221.6\n',
 'Microsoft,995.324\n',
 'Alphabet,885.97\n',
 'Intel,234.73\n',
 'IBM,124.08\n',
 'Facebook,546.606\n',
 'Hon Hai Precision,6023.96\n',
 'Tencent,462.116\n',
 'Oracle,189.37\n',
 'Amazon,134.5']

##### Close the text file